Package: ksetwallpaper
Version: 0.2
Installed-Size: 48
Maintainer: Ruben Cancho <canchete@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: python3
Description: KDE set wallpaper from command line

